@import '../Sass/utils';

.container.portfolio-page {
  @include desktop__screens {
  }

  .portfolio-page {
    position: initial;
    width: calc(100% - 30px);
    padding: 30px;
    height: 100%;
    overflow: auto;
  }

  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 35%;
    vertical-align: middle;
    display: table-cell;
    max-height: 100%;
    
    @include desktop__screens {
      left: 5%;
    
    }

    h1 {
      font-size: $fsize-title;
      color: $col-brand-secondary;
      font-weight: bold;
      margin-top: 0;
      position: relative;
      margin-bottom: 15px;
      left: 10px;
      bottom: -40px;

      @include desktop__screens {
        margin-top: 20px;
        width: max-content;
      }

      &::before {
        content: '<h1>';
        @include formatting-tags;
        margin-top:  -20px;
        left: -10px;
        line-height: 20px;
      }
      
      &::after {
        content: '</h1>';
        @include formatting-tags;
        line-height: 20px;
        left: -30px;
        bottom: -25px;
        margin-left: 10px;        
      }
    }

    p {
      font-size: 14px;
      color: $white;
      font-family: sans-serif;
      min-width: fit-content;
      font-weight: 300;
      animation: pulse 1s;

      &:nth-of-type(1) {
        animation-delay: 1.1s;
      }

      &:nth-of-type(2) {
        animation-delay: 1.2s;
      }

      &:nth-of-type(3) {
        animation-delay: 1.3s;
      }
    }
    
  }

  .text-animate-hover {
    &:hover {
      color: $white;
    }
  }
}

.portfolio-container {  //: image-container
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  width: 99vh;
  height: max-content; //: #Add
  margin-top: 70px;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  @include desktop__screens {
    width: 850px;
    height: 100%;
    justify-content: start;
  }

  @include tablet__screens {
    width: 550px;
    justify-content: center;
  }

  @include mobile__screens {
    width: 420px;
    justify-content: start;
    flex-wrap: wrap;
  }

}
  
  .list-container_image { //: image-box
    position: relative;
    padding-bottom: 10px;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.4s ease-out;
    cursor: pointer;

    @include desktop__screens {
      width: 155px;
      height: 170px;
      padding-bottom: 0;
      padding-left: 4px;
    }
    
    @include mobile__screens {
      width: max-content;
      height: 160px;
      margin-bottom: 0px;

    }
  }

    .portfolio-image {
      z-index: 2;
      width: 100%;
      height: 100%;
      object-fit: cover;

      @include desktop__screens {
        width: 150px;
        height: 150px;
       }

       @include mobile__screens {
        width: 120px;
        height: 130px;
        margin-left: 5px;
        margin: 6px 0 0 0;
      }
    }

    img {
      height: 100%;
      width: 100%;
      margin-top: 10px;
      border-radius: 15px;
      object-fit: cover;

      &:hover {
        transform: scale(1.03);
      }
    }