@import '../Sass/utils';


.stage-cube-container {
  width: 50%;
  height: 100%;
  top: 0;
  padding-top: 18%;
  margin-left: 0;
  position: absolute;
  right: 0;
  overflow: hidden;

  @include desktop__screens {
    position: initial;
    width: 100%;
    height: 0%;
    overflow: visible;
  }
  
  @include tablet__screens {
    padding-top: 5%;
  }
}

.cube-spinner {
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  transform-style: preserve-3d;
  transform-origin: 100px 100px 0;
  margin-left: calc(50% - 100px);

  div {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.4);
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    box-shadow: 0 0 10px 0px #dddddd;
  }

  
  /* ----  ----  ----
  : Animation of Cube 🔳
  ----  -----  ----*/

  .face1 {
    transform: translateZ(99px) rotateY(-179deg) !important;
  }

  .face2 {
    transform: rotateY(90deg) translateZ(100px) !important;
  }

  .face3 {
    transform: rotateY(90deg) rotateX(90deg) translateZ(100px) !important;
  }

  .face4 {
    transform: rotateY(179deg) rotateZ(90deg) translateZ(99px) !important;
  }

  .face5 {
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px) !important;
  }

  .face6 {
    transform: rotateX(-90deg) translateZ(100px) !important;
  }
}

@keyframes spincube {
  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    transform: rotateY(-90deg);
  }
  33% {
    transform: rotateY(90deg) rotateZ(-90deg);
  }
  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    transform: rotateY(-270deg) rotateZ(90deg);
  }
  83% {
    transform: rotateX(90deg);
  }
}
