/* 
 *:: VARIABLES ::*/
 $col-brand-darkPrim: #414555;
 $col-brand-primary: #555b6e;
 $col-brand-secondary: #66d6a4;
 $white: #fff;
 $black: #000;
 $fontDeco1: 'Great Vibes';
 $fontDeco2: 'La Belle Aurore';
 $lightHide: 0.7;