@import '../Sass/utils';

.container.contact-page {
  .text-zone {
    left: 8%;
  }
  
}

.contact-form {
  width: 100%;
  margin-top: 40px;

  ul {
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-bottom: 15px;
      overflow: hidden;
      display: block;
      position: relative;
      opacity: 0;
      animation: fadeInUp 2s 2s;
      animation-fill-mode: forwards;
      clear: both;
    }

    li.half {
      width: 49%;
      margin-left: 2%;
      float: left;
      clear: none;
      
      &:first-child {
        margin-left: 0;
      }
    }
  }

  input[type="text"],
  input[type="email"] {
    @include formatting-contact-fileds;
    padding: 0 20px;
  }

  input::placeholder,
  textarea::placeholder {
    color: $white;
  }

  textarea {
    @include formatting-contact-fileds;
    padding: 20px;
    min-height: 150px;
  }

  .flat-button {
    background:  $col-brand-secondary;
    background: 0 0;
    font-size: 17px;
    letter-spacing: 2.5px;
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid $col-brand-secondary;
    float: left;
    border-radius: 4px;
    width: 30%;
    
    &:hover {
      background: $col-brand-secondary;
      color: $col-brand-darkPrim;
      opacity: 0.8;
    }
  }
}

.info-map {
  position: absolute;
  background-color: $black;
  top: 10px;
  right: 20%;
  z-index: 999999;
  width: 300px;
  padding: 20px;
  color: $white;
  font-family: 'Helvetica';
  font-size: 17px;
  font-weight: 300;
  opacity: 0;
  animation: fadeIn 1s 1.5s;
  animation-fill-mode: forwards;
  border-radius: 2px;
  @include desktop__screens {
    top: 640px;
    left: 8%;
    width: 200px;
  }

  @include tablet__screens {
    display: none;
  }

  span {
    font-size: 17px;
    display: block;
    padding-top: 20px;
    color: $col-brand-secondary;
  }
}

.map-wrap {
  background: rgb(33.3%,40.8%,43.1%);
  float: right;
  width: 53%;
  height: 100%;
  position: relative;
  opacity: 0;
  animation: backInRight 1s 1.2s;
  animation-fill-mode: forwards;

  @include desktop__screens {
    float: none;
    width: 100%;
    height: 400px;
    margin: 0;
  }
}

.leaflet-container {
  width: 99%;
  height: 100%;
}

.layout-popup {
  font-size: 12px;
}